<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2><b>Department</b></h2>
                    </div>
                    <div class="col-xs-6">
                        <a href="#adduserModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Department</span></a>						
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr >
                         <th>SL.no</th>
                        <th>Department Name</th>
                         <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of depts; let i=index">
                        <td>{{i+1}} </td>
                        <td>{{d.deptName}}</td>
                        <td>
                           
                                    <a (click)="openEdit(d)" href="#edituserModal" class="edit" data-toggle="modal"><i class="material-icons"
                                        data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a (click)="openDelete(d)" href="#deleteuserModal" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>

                </tbody>
            </table>

        </div>
    </div>
 <!-- add button -->
    <div id="adduserModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="deptForm" (ngSubmit)="newDept()">
                    <div class="modal-header">
                        <h4 class="modal-title">Add User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Department</label>
                            <input type="email" class="form-control"  name="deptName" [(ngModel)]="newdept.deptName" formControlName="addDept" required>
                            <div *ngIf="addDept.touched && addDept.invalid">
                                <small *ngIf="addDept.errors.required" class="text-danger">Department name is required<br></small>
                              </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input  type="submit" [disabled] deptForm.Invalid class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Edit Modal HTML -->
<div id="edituserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  [formGroup]="editdeptForm" (ngSubmit)="editDept()">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Department</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Department Name</label>
                        <input type="email" class="form-control"  name="deptName" [(ngModel)]="edit.deptName" formControlName="editdept" required>
                        <div *ngIf="editdept.touched && editdept.invalid">
                            <small *ngIf="editdept.errors.required" class="text-danger">Department name is required<br></small>
                          </div>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input  type="submit" [disabled] editdeptForm.Invalid class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Modal HTML -->
<div id="deleteuserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Department</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input (click)="deleteDept()" type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>