

<div class="container my-5">
  <form [formGroup]="registerForm" (ngSubmit)="newpassword()">
    <h1>RESET PASSWORD</h1>
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <br>
    <br>
    <div class="col-6">
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" [(ngModel)]="log.emailId">
          <div *ngIf="email.touched && email.invalid">
              <small *ngIf="email.errors.required" class="text-danger">Email is required<br></small>
              <small *ngIf="email.errors.email" class="text-danger">Invalid Email<br></small>
          </div>
      </div>
  </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" [(ngModel)]="log.password" >
                  <div *ngIf="password.touched && password.invalid">
                      <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small>
                      <small *ngIf="password.errors.minlength" class="text-danger">password must contain 6 characters at least</small>
                  </div>
              </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="repeatPassword">Repeat Password</label>
                  <input type="password" class="form-control" id="repeatPassword" formControlName="repassword">
                  <div *ngIf="repassword.touched && repassword.invalid">
                      <small *ngIf="repassword.errors.required" class="text-danger">Repeat Password is required<br></small>
                  </div>
                  <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
                      The passwords entered do not match
                  </div>
              </div>
          </div>
     
     
          <div class="col-6">
              <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || repassword.value != password.value">Submit</button>

          </div>
  
  </form>
</div>