input[type=text], input[type=email],input[type=password] {
    width: 100%;
    padding: 20px ;
    font-size:25px;
    background: #fdffff;
  }
   
   
   
  button {
    background-color: #4CAF50;
    color: rgb(2, 1, 1);
    width: 300px;
    font-size: 20px;
    
  }
   
  .container {
    padding: 50px 10px 66px 70px;
    background-color: rgb(77, 143, 77);
    font-size: large;
  }
  
  .btn{
    background-color: #300ec7;
    padding: 10px;
    width: 100px;
  }
