@media screen and (min-device-width:640px), screen and (max-width:1366px){ 

    .container{
         
        padding-top: 20px;
    }

}
 .table-title {
        color: rgb(65, 65, 65);
       text-align:justify;
       background-color: #75b0f3;
       
   
    }
    .table-title .btn {
		color: #fff;
		float: right;
		font-size: 13px;
	  
    }
    .table-title .btn i {
		float: left;
		font-size: 21px;
		margin-right: 5px;
	}
 
    .table-title h2 {
        margin: 5px 5px 0;
        font-size: 20px;
    }
 
    table.table tr th:first-child {
        width: 100px;
    }

    table.table tr th:last-child {
        width: 100px;
    }
 
 
    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
        outline: none !important;
    }
 
    table.table td a.edit {
        color: #18a106;
    }

    table.table td a.delete {
        color: #F44336;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    

    /* Modal  */
    
    .modal .modal-dialog {
        max-width: 400px;
    }

    .modal .modal-header,
    .modal .modal-body,
    .modal .modal-footer {
        padding: 20px 30px;
    }

    .modal .modal-content {
        border-radius: 3px;
    }

    .modal .modal-footer {
        background: #ecf0f1;
        border-radius: 0 0 3px 3px;
    }

    .modal .modal-title {
        display: inline-block;
    }

    .modal .form-control {
        border-radius: 2px;
        box-shadow: none;
        border-color: #dddddd;
    }

    .modal textarea.form-control {
        resize: vertical;
    }

    .modal .btn {
        border-radius: 2px;
        min-width: 100px;
    }

    .modal form label {
        font-weight: normal;
    }