<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">






<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2><b>Create User</b></h2>
                    </div>
                    <div class="col-xs-6">
                        <a href="#adduserModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add User</span></a>						
                    </div>
                </div>
            </div>
           
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Area Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let info of employees">
                        <td>{{info.username}}</td>
                        <td>{{info.emailId}}</td>
                        <td > {{info.deptName}}</td>
                        <td> {{info.roleName}}</td>
                        <td>{{info.phoneNumber}} </td>
                        <td> {{info.areaStatus}}</td>

                        <td>
                            <a (click)="getById(info)"href="#edituserModal" class="edit" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a (click)="openDelete(info)"href="#deleteuserModal" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>

                </tbody>
            </table>

        </div>
    </div>
</div>
<!--add   Modal HTML -->

<div id="adduserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form >
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="newuser.username"required>
                    </div>
                    <div class="form-group">
                        <label>EmailId</label>
                        <input type="email" class="form-control"  name="emailId" [(ngModel)]="newuser.emailId" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"  name="password" [(ngModel)]="newuser.password" required>
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <select class="form-control" name="deptname" id="deptdrpdwn" [(ngModel)]="newuser.department.deptName" required>
                            <option >Select...</option>
                            <option  *ngFor="let d of deptdata" >{{d.deptName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" name="rolename" id="roledrpdwn"[(ngModel)]="newuser.role.roleName" required >
                            <option >Select...</option>
                            <option *ngFor="let r of roledata">{{r.roleName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="newuser.phoneNumber" required>
                    </div>
                    <div class="form-group">
                        <label>Area Status</label>
                        <select class="form-control" name="areaStatus" id="areadrpdwn"[(ngModel)]="newuser.area.areaStatus" required>
                            <option >Select...</option>
                            <option *ngFor="let a of areadata">{{a.areaStatus}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input (click)="addUser()"type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="edituserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form >
                <div class="modal-header">
                    <h4 class="modal-title">Edit user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control"  name="username" [(ngModel)]="edituser.username"  required>
                    </div>
                    <div class="form-group">
                        <label>EmailId</label>
                        <input type="email" class="form-control"  name="emailId" [(ngModel)]="edituser.emailId" required>
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <select class="form-control" name="deptname" id="deptdrpdwn" [(ngModel)]="edituser.department.deptName">
                            <option >Select...</option>
                            <option  *ngFor="let d of deptdata">{{d.deptName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="edituser.phoneNumber" required>
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" name="rolename" id="roledrpdwn" [(ngModel)]="edituser.role.roleName" >
                            <option >Select...</option>
                            <option *ngFor="let r of roledata">{{r.roleName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Area Status</label>
                        <select class="form-control" name="areaStatus" id="areadrpdwn" [(ngModel)]="edituser.area.areaStatus" >
                            <option >Select...</option>
                            <option *ngFor="let a of areadata">{{a.areaStatus}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input (click)="editUserById()" type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Modal HTML -->
<div id="deleteuserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input (click)="deleteUser()" type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
